 /* Universal box sizing */
*{
    box-sizing: border-box;
} 
/* Style the header */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
  }
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(102, 133, 138);
    font-size:1.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw 1vw;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    background-color: white;
    font-size: 1.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other
 instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.footer{
    float: left;
    width: 33.33%;
    padding: 0.5vw;
    background-color: white;
    font-size: 1.2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

@media screen and (max-width:600px) {
    .footer {
        width: 100%;
    }
}

a:hover {
    color: blue;
}

.policy {
    padding: 0.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}